.all-bios-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 46px;

  .bio-contianer{
    padding: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  img {
    width: 70%;
    border-radius: 10px;
  }

  .profile-pic-container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .social-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;

    i {
      font-size: $socialIconSize;
      color: #ffffff;
    }
  }

  a {
    margin-left: 15px;
    margin: 0px 8px 0px 8px;
    text-decoration: none;
    width: $socialIconSize * 0.9;
    height: $socialIconSize;
  }
}
