* {
  outline: 1px solid red !important;
}

/* ~~~~~~~~~~~~~~~~ */
/* body */
/* ~~~~~~~~~~~~~~~~ */
body {
  background-color: rgb(51, 134, 167);
  color: $defaultTextColor;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0 auto;
  width: 80%;
  min-width: 500px;
  max-width: 960px;
}

html, body {
  height: auto;
}

// remove the affect of the vertical scroll bar in width calculations
// apparently overlay is deprecated
html {
  overflow-y: overlay;
}

/* ~~~~~~~~~~~~~~~~ */
/* headers */
/* ~~~~~~~~~~~~~~~~ */
header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: $defaultTextColor;
}

h1 {
  font-family: $defaultFontFamily;
  font-size: 60px;
  text-align: center;
  text-shadow: 4px 4px $highlightColor;
  margin-bottom: 0px;
}

h2 {
  font-size: 25px;
  font-family: $defaultFontFamily;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

.nav-and-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

button {
  color: red;
    font-family: $defaultFontFamily;
    font-size: 20px;
    background-color: $highlightColor;
    color: $defaultTextColor;
    border: 3px solid $defaultTextColor;
    border-radius: 5px;
    border-radius: 5px;
}

a li:hover, button:hover {
  color: $accentColor;
  border: 3px solid $accentColor;
  transition: .5s;
}
