.game-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ~~~~~~~~~~~~~~~~ */
/* Timer */
/* ~~~~~~~~~~~~~~~~ */
.timer-bar {
  display: block;
  background-image: linear-gradient(rgb(37, 207, 37), rgb(18, 105, 18));
  height: 18px;
  box-shadow: 2px 2px $accentColor;
  margin: 20px auto;
  margin-top: 0px;
  border: 1px solid $accentColor;
}

.timer-bar-container {
  display: flex;
  justify-content: center;
  width: $gameWidth;
}

/* ~~~~~~~~~~~~~~~~ */
/* Canvas area */
/* ~~~~~~~~~~~~~~~~ */
.canvas-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  background: $defaultTextColor;
  width: $gameWidth;
  margin-left: 0px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.game-over-container {
  border: 3px solid $accentColor;
}

.submit-score {
  width: $gameWidth;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: lightblue;

  div {
    display: flex;
    align-items: center;
  }

  p {
    text-align: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    color: $accentColor;
    display: inline-block;
  }

  input {
    font-size: 20px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    background: $defaultTextColor;
    color: $accentColor;
    display: inline-block;
    border-radius: 5px;
  }

  button {
    margin-left: 15px;
  }
}

.game-message {
  height: 20px;
  width: 680px;
  text-align: center;
  margin: 15px 15px 15px 15px;
  color: $defaultTextColor;
  font-size: 1.1em;
  font-weight: bolder;
  text-shadow: 1px 2px $accentColor;
}

/* ~~~~~~~~~~~~~~~~~~ */
/* Buttons and input */
/* ~~~~~~~~~~~~~~~~~~ */
.score {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 100%;
  height: 25px;
  font-family: $defaultFontFamily;
  font-size: 20px;
  text-align: right;
  color: $accentColor;
  align-self: flex-start;
  justify-self: flex-end;
}

.input-and-buttons-row {
  .row1 {
    width: 100%;
    display: flex;
    flex-wrap: none;
    align-items: center;
  }
  
  .row2{
    display: flex;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.user-guess {
  width: 430px;
  height: 100px;
  font-size: 50px;
  font-family: 'Overpass Mono', monospace;
  text-align: center;
  background: $defaultTextColor;
  color: $accentColor;
  border-radius: 5px;
  margin-right: 2px;
}

.user-guess::placeholder {
  font-size: 30px;
}

// skip, shuffle, submit
.game-button {
  height: 103px;
  width: 90px;
  font-size: 16px;
  margin: 1px 3px 0px 3px;
}

// start, reset
.start-button {
  width: 200px;
  height: 60px;
}
