.how-to-play-container {
  margin-bottom: 100px;
  margin-left: 46px;

  p, li {
    font-size: 16px;
    line-height: 24px;
  }
  
  p {
    margin: 0px 5px 25px 5px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
    
  li {
    text-indent: 0px;
    list-style: circle;
    list-style: outside;
    margin: 9px 15px 9px 15px;
    margin-left: 50px;
    line-height: 24px;
    font-size: 1.2em;
    
  }
    
  h2 {
    font-size: 25px;
    margin: 8px 8px 25px 8px;
    font-family: $defaultFontFamily;
  }
    
  button {
    margin: 32px auto 0px auto;
    width: 200px;
    height: 75px;
    font-size: 25px;
    display: block;
  
    font-family: $defaultFontFamily;
    font-size: 20px;
    background-color: rgb(21, 218, 208);
    color: $defaultTextColor;
    border: 3px solid $defaultTextColor;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: $defaultTextColor;
  }
  
  a:hover li:hover, button:hover{
    color: $accentColor;
    border: 3px solid $accentColor;
    transition: .5s;
  }
  
  ul {
    margin-bottom: 24px;
    width: 90%;
  }
  
  #bottom {
    height: 100px;
  }
  
}

