.side-nav {
  height: 100%;
  background-color: rgb(52, 136, 136); 
  border: 3px solid rgb(255, 246, 255);
  border-radius: 10px;
  margin-right: 34px;
}

.side-nav li {
  display: flex;
  align-items: center;
  width: 106px;
  height: 86px;
  margin: 10px;
  border: 3px solid rgb(255, 246, 255);
  border-radius: 5px;

  font-family: $defaultFontFamily;
  font-size: 20px;
  background-color: $highlightColor;
  color: $defaultTextColor;
  text-align: center;
}

.side-nav a {
  text-decoration: none;
}

.side-nav .selected li {
  border-color: $accentColor;
  color: $accentColor;
  background-color: lightblue;
}

.active {
  border: 3px solid $defaultTextColor;
}
