.score-page-container {
  margin-left: 34px;
  width: 100%;
}

h3 {
  font-family: $defaultFontFamily;
  font-size: 30px;
  margin-bottom: 20px;
}

/* ~~~~~~~~~~~~~~~~ */
/* Table */
/* ~~~~~~~~~~~~~~~~ */
.ant-table-wrapper {
  padding: 10px;
  display: inline-block;
  height: 100%;
  overflow: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: $defaultTextColor;
  box-shadow: 5px 5px rgb(21, 218, 208);
  width: 620px;
}

td, tr, th {
  color: rgb(46, 46, 46);
}

th {
  background-color: inherit !important;
  font-size: 35px !important;
  padding: 10px !important;
  border-bottom: 2px solid rgb(46, 46, 46) !important;
}

/* Row Color */
tr:nth-child(even) {
  background-color: lightblue;
}

th:nth-child(2) {
  text-align: left;
}

tr {
  // outline: 1px solid red !important;
  outline: none !important;
}

td {
  padding: 2px !important;
  padding-left: 15px !important;
  line-height: 30px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: none !important;
}

td:nth-child(2){
  padding-left: 15px;
  width: 150px;
}

td:first-child {
  border-right: 2px solid rgb(46, 46, 46);
  text-align: center;
  width: 50px;
}

td:last-child{
  text-align: center;
  width: 75px;
}

/* ~~~~~~~~~~~~~~~~ */
/* Buttons */
/* ~~~~~~~~~~~~~~~~ */
button {
  display: block;
  margin-top: 15px;
  margin-left: 10px;
  width: 200px;
  height: 75px;
  font-size: 25px;

  font-family: $defaultFontFamily;
  font-size: 20px;
  background-color: rgb(21, 218, 208);
  color: $defaultTextColor;
  border: 3px solid $defaultTextColor;
  border-radius: 5px;
  
  margin-bottom: 50px;
} 

button:hover {
  color: navy;
  border: 3px solid navy;
  transition: .5s;
}

a {
  text-decoration: none;
}

a:hover li:hover {
  color: navy;
  border: 3px solid navy;
  transition: .5s;
}


